<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <title>OdinRecipes</title>
    <meta name="description" content="A collection of delicious recipes to try at home.">
    <meta name="keywords" content="recipes, cooking, food, delicious, home cooking">
    <meta name="author" content="OdinRecipes Team">
    
      <!-- Fonts -->
    <link href="../https://fonts.googleapis.com" rel="preconnect">
    <link href="../https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="../https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor ../CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS file -->
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body class="index-page">

    <header id="header" class="header fixed-top">

        <div class="branding d-flex align-items-center">

          <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="index.php" class="logo d-flex align-items-center me-auto me-xl-0">
              <h1 class="sitename">OdinRecipes</h1>
            </a>



            <nav id="navmenu" class="navmenu gap-5 d-none d-lg-flex">
              <ul>
                <li><a href="#hero" class="active">Home<br></a></li>
                <li><a href="#about">About<br></a></li>
                <li><a href="#recipe">Recipes<br></a></li>
                <li><a href="#our-services">Services<br></a></li>
                <li><a href="#social-links">Contact<br></a></li>
                
              </ul>

              <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

                <a class="btn btn-dark btn-lg text-warning" href="../forms/add-recipes.php" role="button">Add Recipe</a>


          </div>

        </div>

    </header>